body {
	font-size: 16px;
	background: white;
	color: white;
	font-family: AbadiMT;
	position: relative;
	margin: 0;
}
@font-face {
	font-family: AbadiMT;
	src: url(abadi.woff);
}
html{
  height:100%;
}
* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	background: black;
	display: table;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 25px;
	padding: 7px 20px 5px;
}
p {
	color: black;
	font-size: 20px;
}
a {
	color: #fd5263;
	text-decoration: none;
}
a:hover {
	color: #24e0ff;
}
.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.job {
	margin: auto;
	display: table;
	max-width: 659px;
}
.job.en, .job.fr {
	display: none;
}

body.en .job.en,
body.fr .job.fr {
	display: table;
}
.job img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
button {
	background: black;
	color: white;
	border: 0px;
	display: inline-block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 25px;
	padding: 7px 20px 5px;
	margin: 0px 10px 15px 10px;
	cursor: pointer;
}
button:hover {
	background: white;
	color: black;
}